input[type=color], 
input[type=date], 
input[type=datetime-local], 
input[type=datetime], 
input[type=email], 
input[type=month], 
input[type=number], 
input[type=password], 
input[type=search], 
input[type=tel], 
input[type=text], 
input[type=time], 
input[type=url], 
input[type=week], 
select, 
textarea {
    width: 100%;
    -webkit-appearance: none;
    padding: .5rem 0;
    margin-bottom: 15px;
    line-height: 1.2rem;
    -webkit-user-select: text;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 3px;
    outline: 0;
}
/*input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #0C0;
} 设置输入框默认值颜色
*/
body{font-size: .8rem;}
img{ width: 100%; }
span.icon-unin E918{ color: #60abff; }
.btn{
	padding: .4rem;
    border-radius: 5px;
    border: initial;
    background-color: #ff4e00;
    color: #fff;
    margin-right: 0px;
    font-size: .75rem;
}
.cy-btn{
    width: 100%;
    line-height: 1.8rem;
    background-color: #00cc00;
}
.btn-max{
    display: inherit;
    margin: .5rem;
    text-align: center;
    line-height: 1.8rem;
    font-size: .8rem;
}
.btn-green{ background-color: #00cc00; }
.btn-red{ background-color: #E84219 !important; }
.btn-b{ background-color: #60abff; }
.btn-forbidden{background-color: #ccc; }
.btn-upgrade{ background-color: #FC605A; }
.btn-set{background-color: #F90;}
/*-- 性别 --*/
.i-sex { color: #60abff;}
.i-sexGirl { color: #FF7BB5;}
/*
 * 底部导航菜单
 */
 .nav-bar {
    position: fixed;
    z-index: 10;
    right: 0;
    left: 0;
    height: 44px;
    padding-right: 10px;
    padding-left: 10px;
    border-bottom: 0;
    background-color: #f7f7f7;
    -webkit-box-shadow: 0 0 1px rgba(0,0,0,.85);
    box-shadow: 0 0 1px rgba(0,0,0,.85);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.nav-bar-tab {
    bottom: 0;
    display: table;
    width: 100%;
    height: 50px;
    padding: 0;
    table-layout: fixed;
    border-top: 0;
    border-bottom: 0;
    -webkit-touch-callout: none;
}
.nav-bar-tab .nav-tab-item {
    display: table-cell;
    overflow: hidden;
    width: 1%;
    height: 3.2rem;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #929292;
    text-decoration: none;
}
.nav-bar-tab .nav-tab-item.nav-active { color: #E84219;}
.nav-bar .nav-icon {
    font-size: 24px;
    position: relative;
    z-index: 20;
    padding-top: 10px; 
    padding-bottom: 10px;
}
.nav-bar-tab .nav-tab-item .nav-icon {
    top: 3px;
    width: 24px;
    height: 24px;
    padding-top: 0;
    padding-bottom: 0;
}
.nav-bar-tab .nav-tab-item .nav-icon~.nav-tab-label {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: .7rem;
}
.nav-icon .nav-badge {
    font-size: .65rem;
    line-height: 1rem;
    position: absolute;
    top: -2px;
    left: 100%;
    margin-left: -10px;
    color: #fff;
    background-color: red;
    border-radius: 1rem;
    min-width: .6rem;
    height: 1rem;
    text-align: center;
    padding: 0 .2rem;
}
/*
 * 首页布局 header,content
 */
#index-z{
	background-color: #F1F1F1;
	width: 100%;
	margin-bottom: 2rem;
}
.index-head{
	width: 100%;
	height: 200px;
	opacity: 0.9;
}
.index-nav{
	width: 100%;
	margin-top: 10px;
}
.index-choice{
	width: 100%;
	margin-top: 10px;
	background-color: rgb(255,255,255);
}
.hmap {
    font-size: 0.8rem;
    color:#fff;
    position: absolute;
    z-index: 10;
    width: 3rem;
    left: 0.5rem;
    top: 0.7rem;
}
.head-input-row {
    position: absolute;
    z-index: 10;
    overflow: hidden;
    float: right;
    clear: none;
    padding: 0 6px;
    line-height: initial;
    color: #999;
    right: 0.5rem;
    left: 4.5rem;
    top: 0;
    bottom: 0;

}
.index-nav{ overflow: hidden; background: rgb(255,255,255); padding: 1rem 0;}
.index-nav li{ float: left; width: 25%; text-align: center;}
.index-nav li a{ color: #000000;}
.index-nav li img{ width: 70%;}
.index-nav li p{ font-size: 0.7rem;}
input[type=search] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 0;
    border-radius: 15px;
    background-color: rgba(0,0,0,.1);
}
.head-input-row input[type=search] { background-color: rgba(255,255,255,1);}
.head-search input[type=search] {
    font-size: .8rem;
    position: absolute;
    left: 0;
    top: 0.26rem;
    padding: .4rem 1.5rem;
}
.head-icon-left,
.head-icon-right{
	position: absolute;
    top: .8rem;
    font-size: .95rem;
}
.head-icon-left{ left: 10px;}
.head-icon-right{ right: 5px; font-size: .95rem;}
.index-choice{margin:10px 0;}
.choice-header{padding: 10px 0;}
.choice-sx{color: rgb(19,209,190);font-weight: 700;margin-right: 5px;}
.choice-zt{font-weight: 700;}
.choice-fh{color: #999;float: right;font-size: 20px;}
.choice-x{
	border-top: solid #DDDDDD 1px;
	border-bottom: none;
	border-left: none;
	border-right: none;
}
.index-option{
	background-color: rgb(255,255,255);
	
}
.index-option ul li{
	float: left;
	margin: 5px 10px;
}
.choice-header{
	clear: both;
}
/* html5表单验证 */
.input-row input:required, 
.input-row textarea:required,
.supplyFor .register-group .input-row input:required, 
.supplyFor .register-group .input-row textarea:required{
    background: #fff url(../images/bt1.png) no-repeat 78% center;
    background-size: 8px;
}
.input-row input:focus:invalid, 
.input-row textarea:focus:invalid,
.supplyFor .register-group .input-row input:focus:invalid, 
.supplyFor .register-group .input-row textarea:focus:invalid {
    background: #fff url(../images/bt2.png) no-repeat 78% center;
    background-size: 16px;
}
.input-row input:required:valid, 
.input-row textarea:required:valid,
.supplyFor .register-group .input-row input:required:valid, 
.supplyFor .register-group .input-row textarea:required:valid {
    background: #fff url(../images/bt3.png) no-repeat 78% center;
    background-size: 16px;
}
.form_hint {
    padding-left: 3.5rem;
    color: #d45252;
    z-index: 999; 
    display: none;
}
.form_required { 
    padding-left: 2rem;
    color: #d45252;
    z-index: 999;
    display: inherit !important; 
}
.T_required{ line-height: 2.2rem; }
.input-row input:focus + .form_hint {display: inline;}
.input-row input:required:valid + .form_hint {color: #28921f;} 
.input-row input:required:valid + .form_hint::before {color:#28921f;} 
.input-group .input-row:after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 1px;
    content: '';
    background-color: #c8c7cc;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
}
/*.activity{
    padding: .4rem;   
    font-size: .75rem;
    color: #999; 
}*/

ul.upload-box li{
	height: 5.3rem;
    width: 5.3rem;
    overflow: hidden;
    float: left;
    margin: .4rem 0 .4rem .2rem;
}
ul.upload-box li>a.upload-addimg{
	background-color: #ECECEC;
    width: 100%;
    height: 100%;
    display: table;
    text-align: center;
    line-height: 100px;
    font-size: 3rem;
    color: #ccc;
}


/*
 * 图片轮播
 */
.m-slider {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
}
.ks_wrap {
    width: 100%;
}
.ks_ts {
    -webkit-transition: 500ms;
}
.ks_dbox {
    display: -webkit-box;
    width: 100%;
    text-align: left;
}
.ks_wt {
    display: -webkit-box;
    margin: 0;
    padding: 0;
    -webkit-box-pack: center;
}
.ks_wt li {
    list-style: none;
    text-align: center;
    color: #fff;
}
.ks-circles {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
.ks_wt_1 .ks_wt li {
    line-height: 35px;
    height: 35px;
    border-right: solid 1px #bbb;
    -webkit-box-flex: 1;
}
.ks-circles .ks_wt li {
    overflow: hidden;
    width: 12px;
    height: 3px;
    margin: 10px 5px;
    text-indent: 20px;
    background-color: #fff;
}
.ks_wt_1 .ks_wt .active {
    color: #000;
    background: -webkit-linear-gradient(top, #e7e7e7 0, #dfdfdf 100%);
}
.ks-circles .ks_wt .active {
    -webkit-animation: kt2 .8s ease-in-out;
    background: #cc4036;
}
@-webkit-keyframes kt2 {
    0% {
        -webkit-transform: scale(1);
    }
    60% {
        -webkit-transform: scale(1.4);
    }
    100% {
        -webkit-transform: scale(1);
    }
}

/*
 * 资讯 information
 */
#carousel li {
    float: left;
    margin-left: 10px;
    width: 67px;
    text-align: center;
}
 .carousel-nav{
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    border-bottom: 1px solid #f1f1f1;
    background-color: #fff;
    position: relative;
 }
.infor-xnav{
    background-color: #fff;
    overflow: hidden;
    height: 2rem;
}
.infor-nav{
    padding: 5px 0;
    border-bottom: 1px solid #f1f1f1;
    background-color: #fff;
}
li.pitch>a{
    padding: 2px 0;
    background-color: #F00;
    color: #fff;
}
.infor-nav li{
    float: left;
    width: 18%;
    line-height: 30px;
    text-align: center;
}
.infot-liOff{ display: none; }
.infot-liOn{ display: block; }
.infot-liBtn{
    text-align: center;
    width: 10%;
    display: inherit;
    float: right;
    line-height: 30px;
}
.infot-liBtn2{
    display: inline-block;
    transform: rotate(180deg);
}
.infor-m-top{ margin-top: 4.3rem !important; }
.infor-content{ padding: .5rem;}
.infor-content li{ 
    border-bottom: 1px solid #f1f1f1; 
    margin-top: 5px;
}
.infor-content li .infor-c-img{
    max-height: 150px;
    overflow: hidden;
}
.infor-c-text p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #999;
}
.infor-content li>a{ display: inherit; }
.infor-content li h1{ 
    margin: 0;     
    font-weight: normal;
    font-size: .875rem;
}
.infor2-content li h1{ 
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: normal;
}
.scanTime{ margin: 5px 0; font-size: .65rem;}
.scanTime span{ 
    color: #999;
    margin: 0 2px; 
}
.infor2-content li .infor-c-img{
    float: left;
    width: 4rem;
    height: 2.7rem;
    margin-right: 5px;
    overflow: hidden;
}

/*
 * 企业公司详情 firmDetails
 */
.firmDetails .firmD-head{ 
    padding: 10px;
    border-bottom: 1px solid #f1f1f1;
    overflow: hidden;
}
.firmDetails .firmD-head>img {
    margin-right: 10px;
    max-width: 3rem;
    height: 3rem;
    line-height: 60px;
    float: left;
    border-radius: 4px;
    border: 1px solid #f1f1f1;
}
.fD-text h1{ 
    font-weight: normal;
    margin-bottom:15px;
}
.fD-association{
    position: relative;
    line-height: 25px;
    padding: 2px 0;
    color: #fff;
    margin-left: 71px;
}
.fD-association>span{
    border-radius: 5px;
    padding: 8px 20px;
    background-color: #F20D0D;
    font-size: .6rem;
}
.arrow-left {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #F20D0D;
    left: 16px;
    top: -6px;
}
.firmD-tab {margin-bottom: 60px; font-size: .7rem;}
.tab-list {
    line-height: 2rem;
    overflow: hidden;
    background-color: #F6F6F6;
}
.tab-list li{
    float: left;
    width: 20%;
    text-align: center;
    border-top: 4px solid #F6F6F6;
}
.tab-list li.pick{
    border-top: 4px solid #F20D0D;
    background-color: #fff;
}
.firmD-menu>ul li{ 
    line-height: 35px; 
    padding: 0 10px;    
    border-bottom: 1px solid #f1f1f1;
}
.firmD-menu>ul li.firmD-img{
    padding: 10px 0;
}
.firmD-menu>ul label{ 
    left: 10px;     
    color: #999;
    line-height: 2rem;
}
.firmD-menu a{ 
    position: relative;
    color: #60abff; 
}
.firmD-menu a>i{
    font-size: 1rem;
    color: red;
    position: absolute;
    top: 0;
    margin-left: 5px;
}
.firmD-menu a>i.icon-vip0{ color: #ccc; }
.product-list{
    overflow: hidden;
    padding-top: 20px;
    background-color: #ececec;
}
.product-list li {
    display: block;
    margin: 8px 0 10px;
    padding: 0;
    background: #fff;
    overflow: hidden;
}
.product-list .product-item {
    width: 46%;
    margin: 1%;
    float: left;
    padding: 1%;
}
.product-item .product-item-pic {  margin-bottom: 5px;}
.product-item-pic img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}
.product-item .product-item-title {
    height: 2rem;
    font-size: .65rem;
    color: #252525;
    line-height: 1rem;
    padding-top: 7px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.product-item-title span {
    display: -webkit-box;
    overflow: hidden;
    font-size: 12px;
    text-align: left;
    height: 28px;
    line-height: 14px;
    color: #333;
}
.F-file{ padding: .5rem;}
.tab_content { display: none !important;}
.show { display: block !important;}


/*编辑资料*/
.edit-group .input-row:after {background-color: #fff !important;}
.register-group .input-row .select-association-list label { position: relative;}
.head-portrait{
	background:#000;
	width:100%;
	margin:0px;
	padding:0px;
	overflow:hidden;
}
.head-portrait .pic-01{
	float:left;
	display:inline-block;
	width:90px;
	height:90px;
	border-radius:6%;
	overflow:hidden;
	margin:10px;
}
.head-portrait .pic-up{
	float:left;
	font-size:3rem;
	background:#cdcdcd;
	width:90px;
	height:90px;
	margin-top:10px;
	border-radius:8%;
	line-height:90px;
	color:#FFF;
	margin-left:1px;
	text-align:center;
}
.zs-up img {
	width:100px;
	height:100px;
	margin-bottom:5px;
}
 .zs-up { float:left; }
.btn-save {
	line-height: 2.5rem;
    text-align: center;
    display: inline-block;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f1f1f1;
    border-top: 1px solid #DADADA;	
}
.input-placeholder-cg {
    line-height: 35px;
    display: inherit;
    margin-top: 5px;
    margin-left: 70px;
}
.input-placeholder-cg i{
    position: absolute;
    top: calc(50% - 7px);
    right: 10px;
}
.upload {
	width:90px;
	height:90px;
	position:relative;
	bottom:100px;
	right:2px;
	opacity:0;
}
.input-placeholder li { line-height:15px;}



/*阅读新闻页面*/
.read-new .read-title {
    font-weight: normal;
    padding: .5rem;	
}	
.read-new .read-title h1{ font-weight: normal; }
.read-new .head-mid {
	background: #f1f1f1;
    padding: .5rem;
    font-size: .75rem;
    color: #999;
}
.read-new .read-content p{ text-indent: 2rem; }
.read-new .read-content p.read-time{		
    color: #999;
    font-size: .75rem;
    text-indent: 0;
}
.read-new .read-content {
    border-bottom:10px solid #f1f1f1;
	padding:.5rem;
}
.read-new .read-content img {
	width:100%;		
    margin: 10px 0px;
}
.read-new .comment-read a{
	text-decoration:none;
	color:#333;
}
.read-new .read-content .browseLike {
    font-size: .65rem;
}
.read-new .read-content .browseLike .retweet {
	border:none;
	margin-left:5px;
	background:transparent;
	color:#999;
}
/*编辑档案虚拟头部*/
.setCmp .st-input-h{
	text-align:center;
	background: #f6f6f6;
	min-height: 2.5rem;
	line-height: 2.5rem;
	font-size: .85rem;
    border-bottom: 1px solid #ededec;
    margin-bottom: .5rem;
}
.setCmp .st-input-h a {
	font-size:1rem;
	position:absolute;
	left:.5rem;
}
.setCmp .st-input-h a>i{
    line-height: 2.5rem;
}

/*信息编辑*/
.info-edit {
	margin-top:1rem;
}
.info-edit input{
	border:none;
	border-bottom:1px solid #f5f5f5;
	border-top:1px solid #f5f5f5;
	text-indent:1.5rem;
}
.info-edit button {
	border:none;
	width:50px;
	height:30px;
	color:#FFF;
	float:right;
	margin-right:20px;
	border-radius:5px;
}
.info-edit button:hover{
	background:#01BD01;
}
/*空内容*/
.empty{
    text-align: center;
    color: #929292;
}
.empty i{
    display: inherit;
    font-size: 3rem;
    padding-top: 2rem;
}
/*微信支付*/
.WeChat-Pay{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 2.5rem 0;
    background-color: #f3f3f3;
}
.WeChat-Pay .wechat-text{
    margin: 1rem 0 2rem;
    padding: 0rem;
    border-radius: .4rem;
    text-align: center;
}
.WeChat-Pay .wechat-text li{
    color: #000;
    line-height: 1.8rem;
}
.WeChat-Pay .wechat-text li h1{
    font-weight: normal;
    font-size: 2.5rem;
    margin-top: .5rem;
}
.WeChat-Pay .wechat-receipt{
    height: 2.5rem;
    line-height: 2.5rem;
    background-color: #fff;
    color: #999;
    padding: 0 .5rem;
    margin: .5rem 0;
        border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
}
.WeChat-Pay .wechat-receipt span.receipt-name{
    color: #000;
}
.WeChat-Pay .wechat-button{
    padding: .5rem;
}
.btn-wechat span{
    position: relative;
    display: inline-block;
    margin: 0 auto;
    padding-left: 1.5rem;
}
.btn-wechat span>i{
    position: absolute;
    font-size: 1.2rem;
    left: 0;
    line-height: 1.8rem;
}


/*订单信息*/
.itemdetails-list{ margin-bottom: 60px; }
.itemdetails-title {
    min-height: 40px;
    margin-top: 10px;
    border-bottom: 5px solid #f1f1f1;
    padding-left: 10px;
}
.itemdetails-title h1 { line-height:40px; font-size: 1rem;}
.itemdetails-slider { padding-top:0;}
.itemdetails-details{ padding: 10px;}
.itemdetails-details-list {
	margin-left:20px;
	margin-bottom:10px;
}
.itemdetails-details p {
	color:#666666;
	line-height:28px;
}
.itemdetails-details p span {
	margin-left:10px;
}
/*服务中心*/
.service-list {
	padding:.6rem;
	line-height:2rem;
}
.service-list li i {
	font-size:1.2rem;
	vertical-align:middle;	
}
.service-list li:nth-of-type(1) i{color:#11D811;}
.service-list li:nth-of-type(2) i{color:#FC0;}
.service-list li:nth-of-type(3) i{color:gray;}
.service-list li a {color:#00F;}
.service-list li:nth-of-type(3) a{color:gray;}
/*搜索*/