<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kz.dao.ChannelMapper" >
  <resultMap id="BaseResultMap" type="com.kz.po.Channel" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="LINK" property="link" jdbcType="VARCHAR" />
    <result column="KEYWORD" property="keyword" jdbcType="VARCHAR" />
    <result column="ISDELETE" property="isdelete" jdbcType="INTEGER" />
    <result column="CREATETIME" property="createtime" jdbcType="TIMESTAMP" />
    <result column="UPDATE" property="update" jdbcType="TIMESTAMP" />
    <result column="PARENTID" property="parentid" jdbcType="BIGINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.kz.po.Channel" extends="BaseResultMap" >
    <result column="DESCRIPTION" property="description" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, NAME, LINK, KEYWORD, ISDELETE, CREATETIME, UPDATE, PARENTID
  </sql>
  <sql id="Blob_Column_List" >
    DESCRIPTION
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from kz_channel
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from kz_channel
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.kz.po.Channel" >
    insert into kz_channel (ID, NAME, LINK, 
      KEYWORD, ISDELETE, CREATETIME, 
      UPDATE, PARENTID, DESCRIPTION
      )
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{link,jdbcType=VARCHAR}, 
      #{keyword,jdbcType=VARCHAR}, #{isdelete,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, 
      #{update,jdbcType=TIMESTAMP}, #{parentid,jdbcType=BIGINT}, #{description,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.kz.po.Channel" >
    insert into kz_channel
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="link != null" >
        LINK,
      </if>
      <if test="keyword != null" >
        KEYWORD,
      </if>
      <if test="isdelete != null" >
        ISDELETE,
      </if>
      <if test="createtime != null" >
        CREATETIME,
      </if>
      <if test="update != null" >
        UPDATE,
      </if>
      <if test="parentid != null" >
        PARENTID,
      </if>
      <if test="description != null" >
        DESCRIPTION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="link != null" >
        #{link,jdbcType=VARCHAR},
      </if>
      <if test="keyword != null" >
        #{keyword,jdbcType=VARCHAR},
      </if>
      <if test="isdelete != null" >
        #{isdelete,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="update != null" >
        #{update,jdbcType=TIMESTAMP},
      </if>
      <if test="parentid != null" >
        #{parentid,jdbcType=BIGINT},
      </if>
      <if test="description != null" >
        #{description,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kz.po.Channel" >
    update kz_channel
    <set >
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="link != null" >
        LINK = #{link,jdbcType=VARCHAR},
      </if>
      <if test="keyword != null" >
        KEYWORD = #{keyword,jdbcType=VARCHAR},
      </if>
      <if test="isdelete != null" >
        ISDELETE = #{isdelete,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="update != null" >
        UPDATE = #{update,jdbcType=TIMESTAMP},
      </if>
      <if test="parentid != null" >
        PARENTID = #{parentid,jdbcType=BIGINT},
      </if>
      <if test="description != null" >
        DESCRIPTION = #{description,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.kz.po.Channel" >
    update kz_channel
    set NAME = #{name,jdbcType=VARCHAR},
      LINK = #{link,jdbcType=VARCHAR},
      KEYWORD = #{keyword,jdbcType=VARCHAR},
      ISDELETE = #{isdelete,jdbcType=INTEGER},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      UPDATE = #{update,jdbcType=TIMESTAMP},
      PARENTID = #{parentid,jdbcType=BIGINT},
      DESCRIPTION = #{description,jdbcType=LONGVARCHAR}
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kz.po.Channel" >
    update kz_channel
    set NAME = #{name,jdbcType=VARCHAR},
      LINK = #{link,jdbcType=VARCHAR},
      KEYWORD = #{keyword,jdbcType=VARCHAR},
      ISDELETE = #{isdelete,jdbcType=INTEGER},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      UPDATE = #{update,jdbcType=TIMESTAMP},
      PARENTID = #{parentid,jdbcType=BIGINT}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>