<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kz.dao.CommentMapper" >
  <resultMap id="BaseResultMap" type="com.kz.po.Comment" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="replay_time" property="replayTime" jdbcType="TIMESTAMP" />
    <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
    <result column="comment_id" property="commentId" jdbcType="BIGINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.kz.po.CommentWithBLOBs" extends="BaseResultMap" >
    <result column="replay" property="replay" jdbcType="LONGVARCHAR" />
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, create_time, replay_time, nick_name, comment_id
  </sql>
  <sql id="Blob_Column_List" >
    replay, content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from kz_comment
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from kz_comment
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.kz.po.CommentWithBLOBs" >
    insert into kz_comment (id, create_time, replay_time, 
      nick_name, comment_id, replay, 
      content)
    values (#{id,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{replayTime,jdbcType=TIMESTAMP}, 
      #{nickName,jdbcType=VARCHAR}, #{commentId,jdbcType=BIGINT}, #{replay,jdbcType=LONGVARCHAR}, 
      #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.kz.po.CommentWithBLOBs" >
    insert into kz_comment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="replayTime != null" >
        replay_time,
      </if>
      <if test="nickName != null" >
        nick_name,
      </if>
      <if test="commentId != null" >
        comment_id,
      </if>
      <if test="replay != null" >
        replay,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="replayTime != null" >
        #{replayTime,jdbcType=TIMESTAMP},
      </if>
      <if test="nickName != null" >
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="commentId != null" >
        #{commentId,jdbcType=BIGINT},
      </if>
      <if test="replay != null" >
        #{replay,jdbcType=LONGVARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kz.po.CommentWithBLOBs" >
    update kz_comment
    <set >
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="replayTime != null" >
        replay_time = #{replayTime,jdbcType=TIMESTAMP},
      </if>
      <if test="nickName != null" >
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="commentId != null" >
        comment_id = #{commentId,jdbcType=BIGINT},
      </if>
      <if test="replay != null" >
        replay = #{replay,jdbcType=LONGVARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kz.po.Comment" >
    update kz_comment
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      replay_time = #{replayTime,jdbcType=TIMESTAMP},
      nick_name = #{nickName,jdbcType=VARCHAR},
      comment_id = #{commentId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="getByConditionPage" parameterType="com.kz.po.CommentQuery"
		resultType="com.kz.po.Comment">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from kz_comment
  </select>
  <insert id="accordingNewsIdAddComment" parameterType="com.kz.po.CommentWithBLOBs">
      insert into 
      	kz_comment (id,content,create_time,nick_name,comment_id)
      values 
      	(null,#{content},now(),#{nickName},#{commentId})
  </insert>
</mapper>