<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kz.dao.OrderModelMapper" >
  <resultMap id="BaseResultMap" type="com.kz.po.OrderModel" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="UUID" property="uuid" jdbcType="BIGINT" />
    <result column="PAYMENT" property="payment" jdbcType="DECIMAL" />
    <result column="STATUS" property="status" jdbcType="INTEGER" />
    <result column="PAYMENT_TYPE" property="paymentType" jdbcType="INTEGER" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="END_TIME" property="endTime" jdbcType="TIMESTAMP" />
    <result column="CLOSE_TIME" property="closeTime" jdbcType="TIMESTAMP" />
    <result column="PLAYMENT_TIME" property="playmentTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, UUID, PAYMENT, STATUS, PAYMENT_TYPE, CREATE_TIME, UPDATE_TIME, END_TIME, CLOSE_TIME, 
    PLAYMENT_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from kz_order
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from kz_order
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.kz.po.OrderModel" >
    insert into kz_order (ID, UUID, PAYMENT, 
      STATUS, PAYMENT_TYPE, CREATE_TIME, 
      UPDATE_TIME, END_TIME, CLOSE_TIME, 
      PLAYMENT_TIME)
    values (#{id,jdbcType=BIGINT}, #{uuid,jdbcType=BIGINT}, #{payment,jdbcType=DECIMAL}, 
      #{status,jdbcType=INTEGER}, #{paymentType,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, #{closeTime,jdbcType=TIMESTAMP}, 
      #{playmentTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.kz.po.OrderModel" >
    insert into kz_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="uuid != null" >
        UUID,
      </if>
      <if test="payment != null" >
        PAYMENT,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="paymentType != null" >
        PAYMENT_TYPE,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="endTime != null" >
        END_TIME,
      </if>
      <if test="closeTime != null" >
        CLOSE_TIME,
      </if>
      <if test="playmentTime != null" >
        PLAYMENT_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="uuid != null" >
        #{uuid,jdbcType=BIGINT},
      </if>
      <if test="payment != null" >
        #{payment,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="paymentType != null" >
        #{paymentType,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="closeTime != null" >
        #{closeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="playmentTime != null" >
        #{playmentTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kz.po.OrderModel" >
    update kz_order
    <set >
      <if test="uuid != null" >
        UUID = #{uuid,jdbcType=BIGINT},
      </if>
      <if test="payment != null" >
        PAYMENT = #{payment,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=INTEGER},
      </if>
      <if test="paymentType != null" >
        PAYMENT_TYPE = #{paymentType,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        END_TIME = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="closeTime != null" >
        CLOSE_TIME = #{closeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="playmentTime != null" >
        PLAYMENT_TIME = #{playmentTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kz.po.OrderModel" >
    update kz_order
    set UUID = #{uuid,jdbcType=BIGINT},
      PAYMENT = #{payment,jdbcType=DECIMAL},
      STATUS = #{status,jdbcType=INTEGER},
      PAYMENT_TYPE = #{paymentType,jdbcType=INTEGER},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      END_TIME = #{endTime,jdbcType=TIMESTAMP},
      CLOSE_TIME = #{closeTime,jdbcType=TIMESTAMP},
      PLAYMENT_TIME = #{playmentTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>