<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kz.dao.UniversityMapper" >
  <resultMap id="BaseResultMap" type="com.kz.po.University" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="CODE" property="code" jdbcType="BIGINT" />
    <result column="PROFILE" property="profile" jdbcType="VARCHAR" />
    <result column="AGREEMENTS" property="agreements" jdbcType="VARCHAR" />
    <result column="TELEPHONE" property="telephone" jdbcType="VARCHAR" />
    <result column="GRANTS" property="grants" jdbcType="DECIMAL" />
    <result column="coupon" property="coupon" jdbcType="DECIMAL" />
    <result column="CATEGORYID" property="categoryid" jdbcType="BIGINT" />
    <result column="PUBLISH_STATUS" property="publishStatus" jdbcType="INTEGER" />
    <result column="School_license" property="schoolLicense" jdbcType="VARCHAR" />
    <result column="Legal_person_name" property="legalPersonName" jdbcType="VARCHAR" />
    <result column="Legal_person_Card" property="legalPersonCard" jdbcType="VARCHAR" />
    <result column="Legal_person_Phone" property="legalPersonPhone" jdbcType="VARCHAR" />
    <result column="Administrator_Account" property="administratorAccount" jdbcType="VARCHAR" />
    <result column="Administrator_Name" property="administratorName" jdbcType="VARCHAR" />
    <result column="Administrator_Phone" property="administratorPhone" jdbcType="VARCHAR" />
    <result column="USER_id" property="userId" jdbcType="INTEGER" />
    <result column="University_Type" property="universityType" jdbcType="INTEGER" />
    <result column="University_Nature" property="universityNature" jdbcType="INTEGER" />
    <result column="checked_info" property="checkedInfo" jdbcType="VARCHAR" />
    <result column="introduce_id" property="introduceId" jdbcType="BIGINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.kz.po.universityWithBLOBs" extends="BaseResultMap" >
    <result column="NAME" property="name" jdbcType="LONGVARCHAR" />
    <result column="EMPLOYMENT_INFO" property="employmentInfo" jdbcType="LONGVARCHAR" />
    <result column="BROCHURE" property="brochure" jdbcType="LONGVARCHAR" />
    <result column="INTRODUCTION" property="introduction" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, CODE, PROFILE, AGREEMENTS, TELEPHONE, GRANTS, coupon, CATEGORYID, PUBLISH_STATUS, 
    School_license, Legal_person_name, Legal_person_Card, Legal_person_Phone, Administrator_Account, 
    Administrator_Name, Administrator_Phone, USER_id, University_Type, University_Nature, 
    checked_info, introduce_id
  </sql>
  <sql id="Blob_Column_List" >
    NAME, EMPLOYMENT_INFO, BROCHURE, INTRODUCTION
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from kz_university
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from kz_university
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.kz.po.universityWithBLOBs" >
    insert into kz_university (ID, CODE, PROFILE, 
      AGREEMENTS, TELEPHONE, GRANTS, 
      coupon, CATEGORYID, PUBLISH_STATUS, 
      School_license, Legal_person_name, Legal_person_Card, 
      Legal_person_Phone, Administrator_Account, 
      Administrator_Name, Administrator_Phone, 
      USER_id, University_Type, University_Nature, 
      checked_info, introduce_id, NAME, 
      EMPLOYMENT_INFO, BROCHURE, INTRODUCTION
      )
    values (#{id,jdbcType=BIGINT}, #{code,jdbcType=BIGINT}, #{profile,jdbcType=VARCHAR}, 
      #{agreements,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR}, #{grants,jdbcType=DECIMAL}, 
      #{coupon,jdbcType=DECIMAL}, #{categoryid,jdbcType=BIGINT}, #{publishStatus,jdbcType=INTEGER}, 
      #{schoolLicense,jdbcType=VARCHAR}, #{legalPersonName,jdbcType=VARCHAR}, #{legalPersonCard,jdbcType=VARCHAR}, 
      #{legalPersonPhone,jdbcType=VARCHAR}, #{administratorAccount,jdbcType=VARCHAR}, 
      #{administratorName,jdbcType=VARCHAR}, #{administratorPhone,jdbcType=VARCHAR}, 
      #{userId,jdbcType=INTEGER}, #{universityType,jdbcType=INTEGER}, #{universityNature,jdbcType=INTEGER}, 
      #{checkedInfo,jdbcType=VARCHAR}, #{introduceId,jdbcType=BIGINT}, #{name,jdbcType=LONGVARCHAR}, 
      #{employmentInfo,jdbcType=LONGVARCHAR}, #{brochure,jdbcType=LONGVARCHAR}, #{introduction,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.kz.po.universityWithBLOBs" >
    insert into kz_university
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="code != null" >
        CODE,
      </if>
      <if test="profile != null" >
        PROFILE,
      </if>
      <if test="agreements != null" >
        AGREEMENTS,
      </if>
      <if test="telephone != null" >
        TELEPHONE,
      </if>
      <if test="grants != null" >
        GRANTS,
      </if>
      <if test="coupon != null" >
        coupon,
      </if>
      <if test="categoryid != null" >
        CATEGORYID,
      </if>
      <if test="publishStatus != null" >
        PUBLISH_STATUS,
      </if>
      <if test="schoolLicense != null" >
        School_license,
      </if>
      <if test="legalPersonName != null" >
        Legal_person_name,
      </if>
      <if test="legalPersonCard != null" >
        Legal_person_Card,
      </if>
      <if test="legalPersonPhone != null" >
        Legal_person_Phone,
      </if>
      <if test="administratorAccount != null" >
        Administrator_Account,
      </if>
      <if test="administratorName != null" >
        Administrator_Name,
      </if>
      <if test="administratorPhone != null" >
        Administrator_Phone,
      </if>
      <if test="userId != null" >
        USER_id,
      </if>
      <if test="universityType != null" >
        University_Type,
      </if>
      <if test="universityNature != null" >
        University_Nature,
      </if>
      <if test="checkedInfo != null" >
        checked_info,
      </if>
      <if test="introduceId != null" >
        introduce_id,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="employmentInfo != null" >
        EMPLOYMENT_INFO,
      </if>
      <if test="brochure != null" >
        BROCHURE,
      </if>
      <if test="introduction != null" >
        INTRODUCTION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="code != null" >
        #{code,jdbcType=BIGINT},
      </if>
      <if test="profile != null" >
        #{profile,jdbcType=VARCHAR},
      </if>
      <if test="agreements != null" >
        #{agreements,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="grants != null" >
        #{grants,jdbcType=DECIMAL},
      </if>
      <if test="coupon != null" >
        #{coupon,jdbcType=DECIMAL},
      </if>
      <if test="categoryid != null" >
        #{categoryid,jdbcType=BIGINT},
      </if>
      <if test="publishStatus != null" >
        #{publishStatus,jdbcType=INTEGER},
      </if>
      <if test="schoolLicense != null" >
        #{schoolLicense,jdbcType=VARCHAR},
      </if>
      <if test="legalPersonName != null" >
        #{legalPersonName,jdbcType=VARCHAR},
      </if>
      <if test="legalPersonCard != null" >
        #{legalPersonCard,jdbcType=VARCHAR},
      </if>
      <if test="legalPersonPhone != null" >
        #{legalPersonPhone,jdbcType=VARCHAR},
      </if>
      <if test="administratorAccount != null" >
        #{administratorAccount,jdbcType=VARCHAR},
      </if>
      <if test="administratorName != null" >
        #{administratorName,jdbcType=VARCHAR},
      </if>
      <if test="administratorPhone != null" >
        #{administratorPhone,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="universityType != null" >
        #{universityType,jdbcType=INTEGER},
      </if>
      <if test="universityNature != null" >
        #{universityNature,jdbcType=INTEGER},
      </if>
      <if test="checkedInfo != null" >
        #{checkedInfo,jdbcType=VARCHAR},
      </if>
      <if test="introduceId != null" >
        #{introduceId,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=LONGVARCHAR},
      </if>
      <if test="employmentInfo != null" >
        #{employmentInfo,jdbcType=LONGVARCHAR},
      </if>
      <if test="brochure != null" >
        #{brochure,jdbcType=LONGVARCHAR},
      </if>
      <if test="introduction != null" >
        #{introduction,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kz.po.universityWithBLOBs" >
    update kz_university
    <set >
      <if test="code != null" >
        CODE = #{code,jdbcType=BIGINT},
      </if>
      <if test="profile != null" >
        PROFILE = #{profile,jdbcType=VARCHAR},
      </if>
      <if test="agreements != null" >
        AGREEMENTS = #{agreements,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        TELEPHONE = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="grants != null" >
        GRANTS = #{grants,jdbcType=DECIMAL},
      </if>
      <if test="coupon != null" >
        coupon = #{coupon,jdbcType=DECIMAL},
      </if>
      <if test="categoryid != null" >
        CATEGORYID = #{categoryid,jdbcType=BIGINT},
      </if>
      <if test="publishStatus != null" >
        PUBLISH_STATUS = #{publishStatus,jdbcType=INTEGER},
      </if>
      <if test="schoolLicense != null" >
        School_license = #{schoolLicense,jdbcType=VARCHAR},
      </if>
      <if test="legalPersonName != null" >
        Legal_person_name = #{legalPersonName,jdbcType=VARCHAR},
      </if>
      <if test="legalPersonCard != null" >
        Legal_person_Card = #{legalPersonCard,jdbcType=VARCHAR},
      </if>
      <if test="legalPersonPhone != null" >
        Legal_person_Phone = #{legalPersonPhone,jdbcType=VARCHAR},
      </if>
      <if test="administratorAccount != null" >
        Administrator_Account = #{administratorAccount,jdbcType=VARCHAR},
      </if>
      <if test="administratorName != null" >
        Administrator_Name = #{administratorName,jdbcType=VARCHAR},
      </if>
      <if test="administratorPhone != null" >
        Administrator_Phone = #{administratorPhone,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        USER_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="universityType != null" >
        University_Type = #{universityType,jdbcType=INTEGER},
      </if>
      <if test="universityNature != null" >
        University_Nature = #{universityNature,jdbcType=INTEGER},
      </if>
      <if test="checkedInfo != null" >
        checked_info = #{checkedInfo,jdbcType=VARCHAR},
      </if>
      <if test="introduceId != null" >
        introduce_id = #{introduceId,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        NAME = #{name,jdbcType=LONGVARCHAR},
      </if>
      <if test="employmentInfo != null" >
        EMPLOYMENT_INFO = #{employmentInfo,jdbcType=LONGVARCHAR},
      </if>
      <if test="brochure != null" >
        BROCHURE = #{brochure,jdbcType=LONGVARCHAR},
      </if>
      <if test="introduction != null" >
        INTRODUCTION = #{introduction,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.kz.po.universityWithBLOBs" >
    update kz_university
    set CODE = #{code,jdbcType=BIGINT},
      PROFILE = #{profile,jdbcType=VARCHAR},
      AGREEMENTS = #{agreements,jdbcType=VARCHAR},
      TELEPHONE = #{telephone,jdbcType=VARCHAR},
      GRANTS = #{grants,jdbcType=DECIMAL},
      coupon = #{coupon,jdbcType=DECIMAL},
      CATEGORYID = #{categoryid,jdbcType=BIGINT},
      PUBLISH_STATUS = #{publishStatus,jdbcType=INTEGER},
      School_license = #{schoolLicense,jdbcType=VARCHAR},
      Legal_person_name = #{legalPersonName,jdbcType=VARCHAR},
      Legal_person_Card = #{legalPersonCard,jdbcType=VARCHAR},
      Legal_person_Phone = #{legalPersonPhone,jdbcType=VARCHAR},
      Administrator_Account = #{administratorAccount,jdbcType=VARCHAR},
      Administrator_Name = #{administratorName,jdbcType=VARCHAR},
      Administrator_Phone = #{administratorPhone,jdbcType=VARCHAR},
      USER_id = #{userId,jdbcType=INTEGER},
      University_Type = #{universityType,jdbcType=INTEGER},
      University_Nature = #{universityNature,jdbcType=INTEGER},
      checked_info = #{checkedInfo,jdbcType=VARCHAR},
      introduce_id = #{introduceId,jdbcType=BIGINT},
      NAME = #{name,jdbcType=LONGVARCHAR},
      EMPLOYMENT_INFO = #{employmentInfo,jdbcType=LONGVARCHAR},
      BROCHURE = #{brochure,jdbcType=LONGVARCHAR},
      INTRODUCTION = #{introduction,jdbcType=LONGVARCHAR}
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kz.po.University" >
    update kz_university
    set CODE = #{code,jdbcType=BIGINT},
      PROFILE = #{profile,jdbcType=VARCHAR},
      AGREEMENTS = #{agreements,jdbcType=VARCHAR},
      TELEPHONE = #{telephone,jdbcType=VARCHAR},
      GRANTS = #{grants,jdbcType=DECIMAL},
      coupon = #{coupon,jdbcType=DECIMAL},
      CATEGORYID = #{categoryid,jdbcType=BIGINT},
      PUBLISH_STATUS = #{publishStatus,jdbcType=INTEGER},
      School_license = #{schoolLicense,jdbcType=VARCHAR},
      Legal_person_name = #{legalPersonName,jdbcType=VARCHAR},
      Legal_person_Card = #{legalPersonCard,jdbcType=VARCHAR},
      Legal_person_Phone = #{legalPersonPhone,jdbcType=VARCHAR},
      Administrator_Account = #{administratorAccount,jdbcType=VARCHAR},
      Administrator_Name = #{administratorName,jdbcType=VARCHAR},
      Administrator_Phone = #{administratorPhone,jdbcType=VARCHAR},
      USER_id = #{userId,jdbcType=INTEGER},
      University_Type = #{universityType,jdbcType=INTEGER},
      University_Nature = #{universityNature,jdbcType=INTEGER},
      checked_info = #{checkedInfo,jdbcType=VARCHAR},
      introduce_id = #{introduceId,jdbcType=BIGINT}
    where ID = #{id,jdbcType=BIGINT}
  </update>
  
  
  
  
  <!-- 下面是我自己写的方法 -->
  <resultMap type="com.kz.po.University" id="universityMap">
    <id column="universityId" property="id" jdbcType="BIGINT" />
    <result column="universityCode" property="code" jdbcType="BIGINT" />
    <result column="PROFILE" property="profile" jdbcType="VARCHAR" />
    <result column="AGREEMENTS" property="agreements" jdbcType="VARCHAR" />
    <result column="TELEPHONE" property="telephone" jdbcType="VARCHAR" />
    <result column="GRANTS" property="grants" jdbcType="DECIMAL" />
    <result column="coupon" property="coupon" jdbcType="DECIMAL" />
    <result column="CATEGORYID" property="categoryid" jdbcType="BIGINT" />
    <result column="PUBLISH_STATUS" property="publishStatus" jdbcType="INTEGER" />
    <result column="School_license" property="schoolLicense" jdbcType="VARCHAR" />
    <result column="Legal_person_name" property="legalPersonName" jdbcType="VARCHAR" />
    <result column="Legal_person_Card" property="legalPersonCard" jdbcType="VARCHAR" />
    <result column="Legal_person_Phone" property="legalPersonPhone" jdbcType="VARCHAR" />
    <result column="Administrator_Account" property="administratorAccount" jdbcType="VARCHAR" />
    <result column="Administrator_Name" property="administratorName" jdbcType="VARCHAR" />
    <result column="Administrator_Phone" property="administratorPhone" jdbcType="VARCHAR" />
    <result column="USER_id" property="userId" jdbcType="INTEGER" />
    <result column="University_Type" property="universityType" jdbcType="INTEGER" />
    <result column="University_Nature" property="universityNature" jdbcType="INTEGER" />
    <result column="checked_info" property="checkedInfo" jdbcType="VARCHAR" />
    <result column="introduce_id" property="introduceId" jdbcType="BIGINT" />
  	<result column="universityName" property="name" jdbcType="LONGVARCHAR" />
    <result column="EMPLOYMENT_INFO" property="employmentInfo" jdbcType="LONGVARCHAR" />
    <result column="BROCHURE" property="brochure" jdbcType="LONGVARCHAR" />
    <result column="INTRODUCTION" property="introduction" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="universitySql">
    kz_university.ID as universityId , kz_university.CODE as universityCode, PROFILE, AGREEMENTS, TELEPHONE, GRANTS, coupon, CATEGORYID, PUBLISH_STATUS, 
    School_license, Legal_person_name, Legal_person_Card, Legal_person_Phone, Administrator_Account, 
    Administrator_Name, Administrator_Phone, USER_id, University_Type, University_Nature, 
    checked_info, introduce_id,
    kz_university.NAME as universityName, EMPLOYMENT_INFO, BROCHURE, INTRODUCTION
  </sql>
  <sql id="universityCategorySql">
      kz_university_category.ID as universityCategoryId, CATEGORY_NAME, CATEGORY_INFO, PARENTID
  </sql>
  <sql id="majorSql">
      kz_major.ID as majorId, MAJOR_CATEGORY_ID, kz_major.NAME as majorName, MAJOR_CODE, ISHOT,DESCRIPTION
  </sql>
   <resultMap id="universityMajorMap" type="com.kz.po.University" extends="BaseResultMap">
    <id column="universityId" property="id" jdbcType="BIGINT" />
    <result column="CODE" property="code" jdbcType="BIGINT" />
    <result column="PROFILE" property="profile" jdbcType="VARCHAR" />
    <result column="AGREEMENTS" property="agreements" jdbcType="VARCHAR" />
    <result column="TELEPHONE" property="telephone" jdbcType="VARCHAR" />
    <result column="GRANTS" property="grants" jdbcType="DECIMAL" />
    <result column="coupon" property="coupon" jdbcType="DECIMAL" />
    <result column="CATEGORYID" property="categoryid" jdbcType="BIGINT" />
    <result column="PUBLISH_STATUS" property="publishStatus" jdbcType="INTEGER" />
    <result column="School_license" property="schoolLicense" jdbcType="VARCHAR" />
    <result column="universityName" property="name" jdbcType="LONGVARCHAR" />
    <result column="EMPLOYMENT_INFO" property="employmentInfo" jdbcType="LONGVARCHAR" />
    <result column="BROCHURE" property="brochure" jdbcType="LONGVARCHAR" />
    <result column="INTRODUCTION" property="introduction" jdbcType="LONGVARCHAR" />
    
    <result column="Legal_person_name" property="legalPersonName" jdbcType="VARCHAR" />
    <result column="Legal_person_Card" property="legalPersonCard" jdbcType="VARCHAR" />
    <result column="Legal_person_Phone" property="legalPersonPhone" jdbcType="VARCHAR" />
    <result column="Administrator_Account" property="administratorAccount" jdbcType="VARCHAR" />
    <result column="Administrator_Name" property="administratorName" jdbcType="VARCHAR" />
    <result column="Administrator_Phone" property="administratorPhone" jdbcType="VARCHAR" />
    <result column="USER_id" property="userId" jdbcType="INTEGER" />
    <result column="University_Type" property="universityType" jdbcType="INTEGER" />
    <result column="University_Nature" property="universityNature" jdbcType="INTEGER" />
    <result column="checked_info" property="checkedInfo" jdbcType="VARCHAR" />
		<collection property="majors" ofType="com.kz.po.Major">
			<id column="major_id" property="id"></id>
			<result column="major_category_id" property="majorCategoryId" />
			<result column="major_name" property="name" />
			<result column="major_code" property="majorCode" />
			<result column="ishot" property="ishot" />
			<result column="description" property="description" />
		</collection>
		<collection property="address" javaType="com.kz.po.Address">
		    <id column="addressId" property="id"/>
  	        <result column="longitude" property="longitude"/>
			<result column="latitude" property="latitude"/>
			<result column="provice" property="provice"/>
			<result column="city" property="city"/>
			<result column="county" property="county"/>
			<result column="addrDetail" property="addrdetail"/>
		</collection>
</resultMap>

	<sql id="kzBase_Column_List">
		kz_university.ID as universityId, CODE, PROFILE, AGREEMENTS, TELEPHONE, GRANTS, coupon,
		CATEGORYID,
		PUBLISH_STATUS,
		kz_university.NAME as universityName, EMPLOYMENT_INFO, BROCHURE, INTRODUCTION,
		Legal_person_name,Legal_person_Card,Legal_person_Phone,Administrator_Account,
		Administrator_Name,Administrator_Phone,USER_id,University_Type,University_Nature,
		checked_info
	</sql>
	<sql id="introduceSql">
	    kz_introduce.id as introduceId, kz_introduce.detail as introDetail
	</sql>
	<select id="selectMajorsPageById" parameterType="Long"
		resultMap="universityMajorMap">
		    select
			<include refid="kzBase_Column_List" />
			,
			<include refid="majorSql" />
			,
			<include refid="addressSql"/>
		from 
			kz_university ,
			kz_address ,
		
			kz_major ,
			kz_university_major 
		where 
			kz_university.id=kz_address.university_id and 
			kz_university.id=kz_university_major.university_id and 
			kz_major.id=kz_university_major.major_id and 
			kz_university.id=#{id}
	</select>
	<resultMap id="ExplicitBaseResultMap" type="com.kz.po.University">
		<id column="kz_university.ID" property="id" jdbcType="BIGINT" />
		<result column="kz_university.CODE" property="code" jdbcType="BIGINT" />
		<result column="kz_university.PROFILE" property="profile" jdbcType="VARCHAR" />
		<result column="kz_university.AGREEMENTS" property="agreements" jdbcType="VARCHAR" />
		<result column="kz_university.TELEPHONE" property="telephone" jdbcType="VARCHAR" />
		<result column="kz_university.GRANTS" property="grants" jdbcType="DECIMAL" />
		<result column="kz_university.coupon" property="coupon" jdbcType="DECIMAL" />
		<result column="kz_university.CATEGORYID" property="categoryid" jdbcType="BIGINT" />
		<result column="kz_university.PUBLISH_STATUS" property="publishStatus"
			jdbcType="INTEGER" />
		<result column="kz_university.School_license" property="schoolLicense"
			jdbcType="VARCHAR" />
		<result column="kz_university.Legal_person_name" property="legalPersonName"
			jdbcType="VARCHAR" />
		<result column="kz_university.Legal_person_Card" property="legalPersonCard"
			jdbcType="VARCHAR" />
		<result column="kz_university.Legal_person_Phone" property="legalPersonPhone"
			jdbcType="VARCHAR" />
		<result column="kz_university.Administrator_Account" property="administratorAccount"
			jdbcType="VARCHAR" />
		<result column="kz_university.Administrator_Name" property="administratorName"
			jdbcType="VARCHAR" />
		<result column="kz_university.Administrator_Phone" property="administratorPhone"
			jdbcType="VARCHAR" />
		<result column="kz_university.USER_id" property="userId" jdbcType="INTEGER" />
		<result column="kz_university.University_Type" property="universityType"
			jdbcType="INTEGER" />
		<result column="kz_university.University_Nature" property="universityNature"
			jdbcType="INTEGER" />
		<result column="kz_university.checked_info" property="checkedInfo" jdbcType="VARCHAR" />
	</resultMap>
		
	<select id="schoolByIsNotHotList" parameterType="java.lang.Integer"
		resultMap="ExplicitBaseResultMap">
		select
			kz_university.ID, kz_university.CODE, kz_university.PROFILE, kz_university.AGREEMENTS, kz_university.TELEPHONE, kz_university.GRANTS, kz_university.coupon, kz_university.CATEGORYID,
			kz_university.PUBLISH_STATUS,
			School_license, kz_university.Legal_person_name, kz_university.Legal_person_Card, kz_university.Legal_person_Phone, kz_university.
			Administrator_Account, kz_university.
			Administrator_Name, kz_university.Administrator_Phone, kz_university.USER_id, kz_university.University_Type, kz_university. University_Nature, kz_university.
			checked_info
		from
		kz_university,
		kz_university_major,
		kz_major
		where
		kz_university.id =
		kz_university_major.university_id
		and
		kz_university_major.major_id =
		kz_major.id
		and
		kz_major.ISHOT=#{id}
	</select>
	
	<resultMap type="com.kz.po.University" extends="universityMap" id="addressAndUniversirtMap">
	    <association property="address" javaType="com.kz.po.Address" >
	        <id column="addressId" property="id" jdbcType="BIGINT" />
    		<result column="longitude" property="longitude" jdbcType="VARCHAR" />
    		<result column="provice" property="provice" jdbcType="VARCHAR" />
    		<result column="city" property="city" jdbcType="VARCHAR" />
    		<result column="county" property="county" jdbcType="VARCHAR" />
    		<result column="addrDetail" property="addrdetail" jdbcType="VARCHAR" />
    		<result column="addressUniversityId" property="universityId" jdbcType="BIGINT" />
    		<result column="latitude" property="latitude" jdbcType="LONGVARCHAR" />
	    	</association>
	</resultMap>
	<sql id="addressSql" >
	    kz_address.id as addressId, longitude, provice, city, county, addrDetail, 
	    kz_address.university_id as addressUniversityId,latitude
	</sql>
	
	<select id="getByConditionPage" parameterType="com.kz.po.UniversityQuery"
		resultMap="addressAndUniversirtMap">
		select
			<include refid="universitySql" />
			,
			<include refid="addressSql" />
		from kz_university,kz_address
		<where>
		    kz_address.university_id=kz_university.id 
			<if test="categoryId!=0 &amp;&amp;categoryId > 0">
				and categoryid=#{categoryId}
			</if>
			<!-- 名字 -->
			<if test="name!=null &amp;&amp; name!=''">
				and name like '%${name}%'
			</if>
			<!-- 经伪度 -->
			<if test="longitude!=null &amp;&amp; longitude!='' &amp;&amp; schoolLatitude!='' &amp;&amp; schoolLatitude!=''">
				and kz_address.latitude =#{latitude} 
				and kz_address.longitude =#{longitude} 
			</if>
			<!-- 地址 -->
			<if test="provice!=null &amp;&amp; provice!='' ">
				and kz_address.provice like '%${provice}%' 
			</if>
			<if test="city!=null &amp;&amp; city!='' ">
				and kz_address.city like '%${city}%' 
			</if>
			<if test="county!=null &amp;&amp; county!='' ">
				and  kz_address.county like '%${county}%' 
			</if>
			<if test="addrdetail!=null &amp;&amp; addrdetail!='' ">
				and  kz_address.addrdetail like '%${addrdetail}%' 
			</if>
		</where>
	</select>
	<select id="listKeyPublishStatus" parameterType="com.kz.po.UniversityQuery"
		resultMap="addressAndUniversirtMap">
		select
		<include refid="universitySql" />
		,
		<include refid="addressSql" />
		from kz_university,kz_address
		<where>
		    kz_university.id=kz_address.university_id 
			<if test="publishStatus!=null &amp;&amp; publishStatus!='' ">
				and publish_Status=#{publishStatus}
			</if>
			<if test="longitude!=null &amp;&amp; longitude!='' &amp;&amp; schoolLatitude!='' &amp;&amp; schoolLatitude!=''">
				and kz_address.latitude =#{latitude} 
				and kz_address.longitude =#{longitude} 
			</if>
			<!-- 地址 -->
			<if test="provice!=null &amp;&amp; provice!='' ">
				and kz_address.provice like '%${provice}%' 
			</if>
			<if test="city!=null &amp;&amp; city!='' ">
				and kz_address.city like '%${city}%' 
			</if>
			<if test="county!=null &amp;&amp; county!='' ">
				and  kz_address.county like '%${county}%' 
			</if>
			<if test="addrdetail!=null &amp;&amp; addrdetail!='' ">
				and  kz_address.addrdetail like '%${addrdetail}%' 
			</if>
			
		</where>
	</select>
	<select id="schoolByUserIdList" parameterType="com.kz.po.University"
		resultMap="universityMajorMap">
		select
		<include refid="universitySql" />
		,
		<include refid="addressSql" />
			from kz_university  , kz_address
		where
			kz_address.university_id=kz_university.id 
			and 
			user_Id=#{userId}
	</select>
	<update id="updateByKeySelective" parameterType="com.kz.po.universityWithBLOBs">
		update kz_university
		<set>
			<if test="publishStatus != null and publishStatus==3">
				PUBLISH_STATUS = #{publishStatus},
				checked_Info = #{checkedInfo}
			</if>
			<if test="publishStatus != null and  publishStatus!=3">
				PUBLISH_STATUS = #{publishStatus},
			</if>
		</set>
		where ID = #{id,jdbcType=BIGINT}
	</update>
	<update id="schoolByUserIdUpdate" parameterType="com.kz.po.universityWithBLOBs">
		update kz_university
		<set>
			<if test="categoryid != null">
				CATEGORYID = #{categoryid,jdbcType=BIGINT},
			</if>
			<if test="legalPersonName != null">
				Legal_person_name = #{legalPersonName,jdbcType=VARCHAR},
			</if>
			<if test="legalPersonCard != null">
				Legal_person_Card = #{legalPersonCard,jdbcType=VARCHAR},
			</if>
			<if test="legalPersonPhone != null">
				Legal_person_Phone = #{legalPersonPhone,jdbcType=VARCHAR},
			</if>
			<if test="universityType != null">
				University_Type = #{universityType,jdbcType=INTEGER},
			</if>
			<if test="universityNature != null">
				University_Nature = #{universityNature,jdbcType=INTEGER},
			</if>
			<if test="introduction != null">
				INTRODUCTION = #{introduction,jdbcType=LONGVARCHAR},
			</if>
			<if test="schoolLicense != null">
				school_License = #{schoolLicense,jdbcType=VARCHAR},
			</if>
			<if test="profile != null">
				profile = #{profile,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="publishStatus != null">
				PUBLISH_STATUS = #{publishStatus,jdbcType=VARCHAR},
			</if>
		</set>
		where ID = #{id,jdbcType=BIGINT}
	</update>
	<insert id="insertSelectiveSequence" parameterType="com.kz.po.universityWithBLOBs">
		insert into kz_university
		<trim prefix="(" suffix=")" suffixOverrides=",">
			ID,
			<if test="code != null">
				CODE,
			</if>
			<if test="profile != null">
				PROFILE,
			</if>
			<if test="agreements != null">
				AGREEMENTS,
			</if>
			<if test="telephone != null">
				TELEPHONE,
			</if>
			<if test="grants != null">
				GRANTS,
			</if>
			<if test="coupon != null">
				coupon,
			</if>
			<if test="categoryid != null">
				CATEGORYID,
			</if>
			<if test="publishStatus != null">
				PUBLISH_STATUS,
			</if>
			<if test="schoolLicense != null">
				School_license,
			</if>
			<if test="legalPersonName != null">
				Legal_person_name,
			</if>
			<if test="legalPersonCard != null">
				Legal_person_Card,
			</if>
			<if test="legalPersonPhone != null">
				Legal_person_Phone,
			</if>
			<if test="administratorAccount != null">
				Administrator_Account,
			</if>
			<if test="administratorName != null">
				Administrator_Name,
			</if>
			<if test="administratorPhone != null">
				Administrator_Phone,
			</if>
			<if test="userId != null">
				USER_id,
			</if>
			<if test="universityType != null">
				University_Type,
			</if>
			<if test="universityNature != null">
				University_Nature,
			</if>
			<if test="checkedInfo != null">
				checked_info,
			</if>
			<if test="name != null">
				NAME,
			</if>
			<if test="employmentInfo != null">
				EMPLOYMENT_INFO,
			</if>
			<if test="brochure != null">
				BROCHURE,
			</if>
			<if test="introduction != null">
				INTRODUCTION,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			null,
			<if test="code != null">
				#{code,jdbcType=BIGINT},
			</if>
			<if test="profile != null">
				#{profile,jdbcType=VARCHAR},
			</if>
			<if test="agreements != null">
				#{agreements,jdbcType=VARCHAR},
			</if>
			<if test="telephone != null">
				#{telephone,jdbcType=VARCHAR},
			</if>
			<if test="grants != null">
				#{grants,jdbcType=DECIMAL},
			</if>
			<if test="coupon != null">
				#{coupon,jdbcType=DECIMAL},
			</if>
			<if test="categoryid != null">
				#{categoryid,jdbcType=BIGINT},
			</if>
			<if test="publishStatus != null">
				#{publishStatus,jdbcType=INTEGER},
			</if>
			<if test="schoolLicense != null">
				#{schoolLicense,jdbcType=VARCHAR},
			</if>
			<if test="legalPersonName != null">
				#{legalPersonName,jdbcType=VARCHAR},
			</if>
			<if test="legalPersonCard != null">
				#{legalPersonCard,jdbcType=VARCHAR},
			</if>
			<if test="legalPersonPhone != null">
				#{legalPersonPhone,jdbcType=VARCHAR},
			</if>
			<if test="administratorAccount != null">
				#{administratorAccount,jdbcType=VARCHAR},
			</if>
			<if test="administratorName != null">
				#{administratorName,jdbcType=VARCHAR},
			</if>
			<if test="administratorPhone != null">
				#{administratorPhone,jdbcType=VARCHAR},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=INTEGER},
			</if>
			<if test="universityType != null">
				#{universityType,jdbcType=INTEGER},
			</if>
			<if test="universityNature != null">
				#{universityNature,jdbcType=INTEGER},
			</if>
			<if test="checkedInfo != null">
				#{checkedInfo,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				#{name,jdbcType=LONGVARCHAR},
			</if>
			<if test="employmentInfo != null">
				#{employmentInfo,jdbcType=LONGVARCHAR},
			</if>
			<if test="brochure != null">
				#{brochure,jdbcType=LONGVARCHAR},
			</if>
			<if test="introduction != null">
				#{introduction,jdbcType=LONGVARCHAR},
			</if>
		</trim>
	</insert>
  <select id="selectByPrimaryLongitudeAndLatitude" resultMap="addressAndUniversirtMap" parameterType="com.kz.po.UniversityQuery" >
    select 
    <include refid="universitySql" />
			,
	<include refid="addressSql" />
	from 
		kz_university,kz_address
	where 
	    kz_address.university_id=kz_university.id 
    	<if test="longitude!=null &amp;&amp; longitude!='' &amp;&amp; schoolLatitude!='' &amp;&amp; schoolLatitude!=''">
		and kz_address.latitude =#{latitude} 
		and kz_address.longitude =#{longitude} 
		</if>
  </select>
  
  <sql id="myColumnList" >
    kz_university.id as universityId,
    kz_university.NAME as universityName,
    kz_university.PROFILE ,
    
    kz_major.id as majojrId,
    kz_major.NAME as majorName,
    kz_university_major.cost as costDetail,
    
    kz_address.id as addressId,
    longitude,
    latitude,
    provice,
    city,
    county,
    addrDetail
  </sql>  
  <resultMap id="myResultMap" type="com.kz.po.University" >
    <id column="universityId" property="id"></id>
	<result column="universityName" property="name" />
	<result column="PROFILE" property="profile"/>
	<association property="address" javaType="com.kz.po.Address">
	    <id column="addressId" property="id"/>
	    <result column="longitude" property="longitude"/>
	    <result column="latitude" property="latitude"/>
	    <result column="provice" property="provice"/>
	    <result column="city" property="city"/>
	    <result column="county" property="county"/>
	    <result column="addrDetail" property="addrdetail"/>
	</association>
 	<collection property="majors" ofType="com.kz.po.Major">
		<id column="majojrId" property="id" />
	    <result column="majorName" property="name" />
	    <result column="costDetail" property="costDetail"/>
	</collection>
  </resultMap>
  
  <select id="selectByMajorId" resultMap="myResultMap" parameterType="com.kz.po.UniversityQuery" >
    select 
    <include refid="myColumnList" />
    
	from 
		kz_university,
		kz_address,
		kz_major,
		kz_university_major
	where 
		kz_university.id=kz_address.university_id and
		kz_university_major.university_id=kz_university.id and
		kz_university_major.major_id=kz_major.id
		<if test="universityId != null">
			and kz_university.id=#{universityId}
		</if>
	order by kz_university.id asc
  </select>
  <select id="selectByMajorCategoryId" resultMap="ResultMapWithBLOBs"  parameterType="com.kz.po.UniversityQuery" >
    select 
		u.*  
	from 
		kz_university u,
		kz_university_major um,
		kz_major m,
		kz_major_category mc
	where 
		u.id=um.university_id and 
		um.major_id=m.id and 
		m.major_category_id=mc.major_category_id and
		<if test="majorCategoryName != null">
			mc.major_category_name like '%${majorCategoryName}%' and
		</if>
		<if test="majorCategoryName != null">
			mc.major_category_name like '%${majorCategoryName}%' and
		</if>
		1=1
  </select>
  <!--<resultMap id="" type="com.kz.po.universityWithBLOBs" extends="BaseResultMap" >
    <result column="NAME" property="name" jdbcType="LONGVARCHAR" />
    <result column="ADDRESS" property="address" jdbcType="LONGVARCHAR" />
    <result column="EMPLOYMENT_INFO" property="employmentInfo" jdbcType="LONGVARCHAR" />
    <result column="BROCHURE" property="brochure" jdbcType="LONGVARCHAR" />
    <result column="INTRODUCTION" property="introduction" jdbcType="LONGVARCHAR" />
  </resultMap>-->
  <select id="selectByUniversityId" resultMap="ResultMapWithBLOBs"  parameterType="int" > 
	select  
		*   
	from 	
		kz_university kz_u, 
		kz_university_category kz_u_c, 
		kz_university_major kz_u_m, 
		kz_major kz_m, 
		kz_orderdetail kz_o, 
		kz_major_category kz_m_c 
	where  
		kz_u.CATEGORYID=kz_u_c.id and 
		kz_u.id = kz_u_m.UNIVERSITY_ID and 
		kz_m.id = kz_u_m.MAJOR_ID and  
		kz_u.id = kz_o.UNIVERSITY_ID and 
		kz_o.major_id = kz_m.id and
		kz_m.MAJOR_CATEGORY_ID=kz_m_c.MAJOR_CATEGORY_ID and 
		kz_u.id=#{id} 
  </select>	
  	<update id="updateByTelephone" parameterType="com.kz.po.University">
		update kz_university
		<set>
			<if test="telephone != null">
				telephone = #{telephone,jdbcType=BIGINT},
			</if>
		</set>
		where ID = #{id,jdbcType=BIGINT}
	</update>
	<resultMap id="myResultMap_02" type="com.kz.po.University" >
    	<id column="universityId" property="id" />
   		<result column="universityName" property="name" />
  		<result column="INTRODUCTION" property="introduction"/>
  			<association property="introduce" javaType="com.kz.po.Introduce">
				<id property="id" column="introId" />
				<result property="detail" column="intrpDetail" />
				<association property="video" javaType="com.kz.po.Video">
				    <id column="videoId" property="id"/>
					<result column="url" property="url"/>
					<result column="duration" property="duration"/>
					<result column="thumb" property="thumb"/>
				</association>
			</association>
			<collection property="majors" ofType="com.kz.po.Major">
			    <id column="majorId" property="id"/>
			    <result column="majorName" property="name"/>
				<result column="majorCost" property="costDetail"/>
			</collection>
   </resultMap>
	<select id="schoolByIntroduceInfo" resultMap="myResultMap_02" parameterType="com.kz.po.UniversityQuery" >
	    select 
		 	kz_university.id as universityId ,
			kz_university.NAME as universityName ,
			INTRODUCTION,
			
			kz_video.id as videoId,
			url,
			duration,
			thumb,
			
			kz_introduce.id as introId,
			kz_introduce.detail as intrpDetail,
			
			kz_major.id as majorId,
			kz_major.name as majorName,
			kz_university_major.COST as majorCost
		from 
			kz_university,
			kz_introduce,
			kz_video ,
			kz_university_major,
			kz_major
		where 
			kz_university.introduce_id=kz_introduce.id and 
			kz_introduce.id=kz_video.intro_id and 
			kz_university_major.university_id=kz_university.id and
			kz_university_major.major_id=kz_major.id 
			<if test="universityId != null">
				and kz_university.id=#{universityId}
			</if>
			<if test="majorId != null">
				and kz_major.id=#{majorId}
			</if>
  	</select>
  	<resultMap type="com.kz.po.University" id="myResultMap_03">
  	    <id column="universityId" property="id"/>
  	    <result column="universityName" property="name"/>
  	    <association property="address" javaType="com.kz.po.Address">
  	        <id column="addressId" property="id"/>
  	        	<result column="longitude" property="longitude"/>
			    <result column="latitude" property="latitude"/>
			    <result column="provice" property="provice"/>
			    <result column="city" property="city"/>
			    <result column="county" property="county"/>
			    <result column="addrDetail" property="addrdetail"/>
  	    </association>
  	</resultMap>
  	<select id="schollByTypeList" resultMap="myResultMap_03" parameterType="com.kz.po.UniversityQuery" >
  	    select 
			kz_university.id as universityId,
			kz_university.name as universityName,
			
			kz_address.id as addressId,
			longitude,
		    latitude,
		    provice,
		    city,
		    county,
		    addrDetail
		from  
			kz_university ,
			kz_address,
			kz_university_category
		where 
			kz_university.id=kz_address.university_id and
			kz_university.CATEGORYID=kz_university_category.id and
			kz_university_category.id=#{categoryId}
  	</select>
  	
  	<resultMap type="com.kz.po.University" extends="universityMap" id="myResultMap_04">
  	    	<association property="address" javaType="com.kz.po.Address">
  	    	    <id column="addressId" property="id"/>
  	        	<result column="longitude" property="longitude"/>
			    <result column="latitude" property="latitude"/>
			    <result column="provice" property="provice"/>
			    <result column="city" property="city"/>
			    <result column="county" property="county"/>
			    <result column="addrDetail" property="addrdetail"/>
  	    	</association>
  	</resultMap>
  	
  	<select id="schollAndAddressList" resultMap="myResultMap_04" parameterType="Long" >
  	    select
			<include refid="universitySql" />
			,
			kz_address.id as addressId,
			longitude,
			latitude,
			provice,
			city,
			county,
			addrDetail
			
		from
			kz_university,
			kz_address
		where 
			kz_university.id=kz_address.university_id
			and kz_university.id=#{universityId}
  	</select>
  	<resultMap type="com.kz.po.Major" id="myResultMap_05">
  	    <id column="majorId" property="id"/>
  	    <result column="majorCategoryId" property="majorCategoryId"/>
  	    <result column="majorName" property="name"/>
  	    <result column="majorCode" property="majorCode"/>
  	    <result column="majorIsHot" property="ishot"/>
  	    <result column="majorDescription" property="description"/>
  	</resultMap>
  	<select id="schollByMajor" resultMap="myResultMap_05" parameterType="Long" >
  	    select 
			kz_major.id as majorId,
			kz_major.MAJOR_CATEGORY_ID as majorCategoryId,
			kz_major.NAME as majorName,
			kz_major.MAJOR_CODE as majorCode,
			kz_major.ISHOT as majorIsHot,
			kz_major.DESCRIPTION as majorDescription
		from 
			kz_university,
			kz_major,
			kz_university_major
		where 
			kz_university_major.university_id=kz_university.id and
			kz_university_major.major_id=kz_major.id
			and kz_university.id=#{universityId}
  	</select>
  	<resultMap type="com.kz.po.Introduce" id="myResultMap_06">
  	    <id column="introId" property="id"/>
  	    <result column="introDetail" property="detail"/>
  	    <association property="video" javaType="com.kz.po.Video">
  	        <id column="videoId" property="id"/>
  	        <result column="videoUrl" property="url"/>
  	        <result column="videoDuration" property="duration"/>
  	        <result column="videoThumb" property="thumb"/>
  	    </association>
  	</resultMap>
  	<select id="schollByIntroduce" resultMap="myResultMap_06" parameterType="Long" >
  	    select 
			kz_introduce.id as introId,
			kz_introduce.detail as introDetail,
			kz_video.id as videoId,
			kz_video.url as videoUrl,
			kz_video.duration as videoDuration,
			kz_video.thumb as videoThumb
		from 
			kz_university ,	 
			kz_introduce , 
			kz_video 
		where 
			kz_university.introduce_id=kz_introduce.id and 
			kz_introduce.id=kz_video.intro_id and
			kz_university.id=#{universityId}
  	</select>
  	<resultMap type="com.kz.po.UniversityDynamic" id="myResultMap_07">
  	    <id column="rsId" property="rsId"/>
  	    <result column="RsTitle" property="rsTitle"/>
  	    <result column="RsDetaTime" property="rsDatetime"/>
  	    <result column="RsContent" property="rsContent"/>
  	</resultMap>
  	<select id="schollByRecruit" resultMap="myResultMap_07" parameterType="Long" >
  	    select 
			kz_university_dynamic.rs_id as rsId,
			kz_university_dynamic.rs_title as RsTitle,
			kz_university_dynamic.rs_datetime as RsDetaTime,
			kz_university_dynamic.rs_content as RsContent
		from
			kz_university ,
			kz_university_dynamic 
		where 
			kz_university.id=kz_university_dynamic.university_id and
			kz_university.id=#{universityId}
  	</select>
  	<select id="schoolByMajorInfo" resultMap="myResultMap_07" parameterType="Long" >
  	    select 
			kz_university_dynamic.rs_id as rsId,
			kz_university_dynamic.rs_title as RsTitle,
			kz_university_dynamic.rs_datetime as RsDetaTime,
			kz_university_dynamic.rs_content as RsContent
		from
			kz_university ,
			kz_university_dynamic 
		where 
			kz_university.id=kz_university_dynamic.university_id and
			kz_university.id=#{universityId}
  	</select>
  	<resultMap type="com.kz.po.University" id="mySchoolMajorInfoMap" extends="ResultMapWithBLOBs">
  	    <id column="universityId" property="id"/>
  	    <result column="universityCode" property="code"/>
  	    <result column="universityName" property="name"/>
  	    <association javaType="com.kz.po.UniversityCategory" property="universityCategory">
  	        <id column="majorId" property="id" jdbcType="BIGINT" />
    		<result column="CATEGORY_NAME" property="categoryName" jdbcType="VARCHAR" />
    		<result column="CATEGORY_INFO" property="categoryInfo" jdbcType="VARCHAR" />
    		<result column="PARENTID" property="parentid" jdbcType="INTEGER" />
  	    </association>
  	    <collection property="majors" ofType="com.kz.po.Major">
  	        <id column="majorId" property="id" jdbcType="BIGINT" />
		    <result column="MAJOR_CATEGORY_ID" property="majorCategoryId" jdbcType="BIGINT" />
		    <result column="majorName" property="name" jdbcType="VARCHAR" />
		    <result column="MAJOR_CODE" property="majorCode" jdbcType="VARCHAR" />
		    <result column="ISHOT" property="ishot" jdbcType="INTEGER" />
		    <result column="DESCRIPTION" property="description" jdbcType="LONGVARCHAR" />
  	    </collection>
  	</resultMap>
  	<select id="mySchoolMajorInfo" parameterType="Long" resultMap="mySchoolMajorInfoMap">
  	    select 
			<include refid="universitySql"/>,
			<include refid="majorSql" />,
			<include refid="universityCategorySql" />
		from 
			kz_university ,
			kz_university_category,
		
			kz_major,
			kz_university_major
		where
			kz_university.CATEGORYID=kz_university_category.id and
			kz_university_major.university_id=kz_university.id and 
			kz_university_major.major_id=kz_major.id and 
			kz_university.id=#{id}
  	</select>
</mapper>