<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kz.dao.WxBindInfoMapper" >
  <resultMap id="BaseResultMap" type="com.kz.po.WxBindInfo" >
    <id column="uid" property="uid" jdbcType="INTEGER" />
    <result column="wx_username" property="wxUsername" jdbcType="CHAR" />
    <result column="token" property="token" jdbcType="CHAR" />
    <result column="tsecret" property="tsecret" jdbcType="CHAR" />
    <result column="dateline" property="dateline" jdbcType="INTEGER" />
    <result column="synctowx" property="synctowx" jdbcType="BIT" />
    <result column="expires_in" property="expiresIn" jdbcType="INTEGER" />
    <result column="openid" property="openid" jdbcType="VARCHAR" />
    <result column="refresh_token" property="refreshToken" jdbcType="VARCHAR" />
    <result column="unionid" property="unionid" jdbcType="VARCHAR" />
    <result column="pc_openid" property="pcOpenid" jdbcType="VARCHAR" />
    <result column="upd_rand" property="updRand" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    uid, wx_username, token, tsecret, dateline, synctowx, expires_in, openid, refresh_token, 
    unionid, pc_openid, upd_rand
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from wx_bind_info
    where uid = #{uid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from wx_bind_info
    where uid = #{uid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kz.po.WxBindInfo" >
    insert into wx_bind_info (uid, wx_username, token, 
      tsecret, dateline, synctowx, 
      expires_in, openid, refresh_token, 
      unionid, pc_openid, upd_rand
      )
    values (#{uid,jdbcType=INTEGER}, #{wxUsername,jdbcType=CHAR}, #{token,jdbcType=CHAR}, 
      #{tsecret,jdbcType=CHAR}, #{dateline,jdbcType=INTEGER}, #{synctowx,jdbcType=BIT}, 
      #{expiresIn,jdbcType=INTEGER}, #{openid,jdbcType=VARCHAR}, #{refreshToken,jdbcType=VARCHAR}, 
      #{unionid,jdbcType=VARCHAR}, #{pcOpenid,jdbcType=VARCHAR}, #{updRand,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.kz.po.WxBindInfo" >
    insert into wx_bind_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        uid,
      </if>
      <if test="wxUsername != null" >
        wx_username,
      </if>
      <if test="token != null" >
        token,
      </if>
      <if test="tsecret != null" >
        tsecret,
      </if>
      <if test="dateline != null" >
        dateline,
      </if>
      <if test="synctowx != null" >
        synctowx,
      </if>
      <if test="expiresIn != null" >
        expires_in,
      </if>
      <if test="openid != null" >
        openid,
      </if>
      <if test="refreshToken != null" >
        refresh_token,
      </if>
      <if test="unionid != null" >
        unionid,
      </if>
      <if test="pcOpenid != null" >
        pc_openid,
      </if>
      <if test="updRand != null" >
        upd_rand,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="wxUsername != null" >
        #{wxUsername,jdbcType=CHAR},
      </if>
      <if test="token != null" >
        #{token,jdbcType=CHAR},
      </if>
      <if test="tsecret != null" >
        #{tsecret,jdbcType=CHAR},
      </if>
      <if test="dateline != null" >
        #{dateline,jdbcType=INTEGER},
      </if>
      <if test="synctowx != null" >
        #{synctowx,jdbcType=BIT},
      </if>
      <if test="expiresIn != null" >
        #{expiresIn,jdbcType=INTEGER},
      </if>
      <if test="openid != null" >
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="refreshToken != null" >
        #{refreshToken,jdbcType=VARCHAR},
      </if>
      <if test="unionid != null" >
        #{unionid,jdbcType=VARCHAR},
      </if>
      <if test="pcOpenid != null" >
        #{pcOpenid,jdbcType=VARCHAR},
      </if>
      <if test="updRand != null" >
        #{updRand,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kz.po.WxBindInfo" >
    update wx_bind_info
    <set >
      <if test="wxUsername != null" >
        wx_username = #{wxUsername,jdbcType=CHAR},
      </if>
      <if test="token != null" >
        token = #{token,jdbcType=CHAR},
      </if>
      <if test="tsecret != null" >
        tsecret = #{tsecret,jdbcType=CHAR},
      </if>
      <if test="dateline != null" >
        dateline = #{dateline,jdbcType=INTEGER},
      </if>
      <if test="synctowx != null" >
        synctowx = #{synctowx,jdbcType=BIT},
      </if>
      <if test="expiresIn != null" >
        expires_in = #{expiresIn,jdbcType=INTEGER},
      </if>
      <if test="openid != null" >
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="refreshToken != null" >
        refresh_token = #{refreshToken,jdbcType=VARCHAR},
      </if>
      <if test="unionid != null" >
        unionid = #{unionid,jdbcType=VARCHAR},
      </if>
      <if test="pcOpenid != null" >
        pc_openid = #{pcOpenid,jdbcType=VARCHAR},
      </if>
      <if test="updRand != null" >
        upd_rand = #{updRand,jdbcType=VARCHAR},
      </if>
    </set>
    where uid = #{uid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kz.po.WxBindInfo" >
    update wx_bind_info
    set wx_username = #{wxUsername,jdbcType=CHAR},
      token = #{token,jdbcType=CHAR},
      tsecret = #{tsecret,jdbcType=CHAR},
      dateline = #{dateline,jdbcType=INTEGER},
      synctowx = #{synctowx,jdbcType=BIT},
      expires_in = #{expiresIn,jdbcType=INTEGER},
      openid = #{openid,jdbcType=VARCHAR},
      refresh_token = #{refreshToken,jdbcType=VARCHAR},
      unionid = #{unionid,jdbcType=VARCHAR},
      pc_openid = #{pcOpenid,jdbcType=VARCHAR},
      upd_rand = #{updRand,jdbcType=VARCHAR}
    where uid = #{uid,jdbcType=INTEGER}
  </update>
  
  <!-- 我自己写的方法 -->
   <select id="getByConditionPage" parameterType="com.kz.po.WxBindInfoQuery"
		resultType="com.kz.po.WxBindInfo">
		select
		<include refid="Base_Column_List" />
		from wx_Bind_Info
	</select>
	
   <select id="selectLogin" parameterType="com.kz.po.WxBindInfoQuery" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from wx_bind_info
		where wx_username=#{wx_username}
	</select>
</mapper>